<<<<<<< HEAD
span.st-emotion-cache-10trblm.e1nzilvr1{
    background-color: lightskyblue;
    font-weight: bolder;
    font-size: larger;
}

span.st-emotion-cache-pkbazv.eczjsme5{
    background-color: lightblue;
    font-size: 2em;
}

span.st-emotion-cache-17lntkn.eczjsme5{
background-color: lightblue;
font-size: 2em;
}

div.st-emotion-cache-1j6rxz7.e1eexb540{
    font-size: 6em;
 
}
=======
p{
    font-size: 2em;
}
 h1{font-size:5em}
 
label{font-size:5em}
>>>>>>> 22d2dd0 (first commit)
